{{!< login}}

<article id="login" class="auth">
  <h1>Auth express</h1>
  <h2>Log in!</h2>

  <form action="/signin" method="post" class="local-login">
    <fieldset>
      <label for="email">{{{__ "singInP.signIn"}}}</label>
      <input type="text" name="email" id="email">
    </fieldset>
    <fieldset>
      <label for="password">{{{__ "singInP.password"}}}</label>
      <input type="password" name="password" id="password">
    </fieldset>
    <fieldset>
      <input type="checkbox" id="showpassword"> <label for="showpassword">{{{__ "singInP.showPassword"}}}</label>
    </fieldset>
    <fieldset>
      <input type="submit" value="log in">
      <a href="/amnesia">{{{__ "singInP.forgotPassword"}}}</a>
    </fieldset>
  </form>

  <!--section class="oauth-login"></section-->

  {{> signup }}
</article>
