{{!< login}}

<article id="amnesia" class="auth">
  <h1>Auth express</h1>
  <h2>{{{__ "amnesiaL.reset"}}}</h2>

  <form action="/login" method="post" class="local-login">
    <fieldset>
      <label for="usermail">{{{__ "amnesiaL.userMail"}}}</label>
      <input type="text" name="usermail" id="usermail">
    </fieldset>
    <fieldset>
      <input type="submit" value="{{{__ "amnesiaL.resetPassword"}}}">
      <a href="/signin">{{{__ "amnesiaL.signIn"}}}</a>
    </fieldset>
  </form>

  {{> signup }}
</article>
